.text-decorator-none {
    text-decoration: none;
  }
  
  .color-weight {
    color: #ffffff!important;
    font-weight: 'bold'!important;
  }
  
  .imagem {
    background-image: url('https://pbs.twimg.com/media/FbBPK--WAAARYvn?format=png&name=small');
    background-repeat: 'no-repeat';
    width: 500px;
    min-height: 512px;
    background-size: cover;
    background-position: center;
  }

  body {
    background-color: #4e5860;
  
    }